
.film{
    margin-top: 10vh;
}
.film-image{
    display: flex;
    flex-wrap: wrap; 
    gap: 3%;  
    align-items: center; 
    justify-content: center; 
}
.film-image a{
    flex: 0 0 calc((100% - 5%)/6);
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-decoration: none;     
    color: inherit;
}
.film-image img{
    border-radius: 25px;
    width: 100%;
    height: 45vw; 
    max-height: 25vw;
    object-fit: cover;
}
button{
    background-color: #00080000;
    border: 0;
    color: rgb(255, 255, 255);
    cursor: pointer; 
}

h1{
    font-size: 42px;
    margin-left: 40px;
    font-family: Tahoma, sans-serif;
    font-weight: bold;
}

.movieName{
    font-family: Tahoma, sans-serif;
    font-weight: bold;
    color: rgb(255, 255, 255);
    padding: 0.4em 0 0 0;
    font-size: 1.5vw;
    margin: 0;
    white-space: nowrap;       
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.movieDate{
    font-family: Tahoma, sans-serif;
    font-weight: bold;
    color: rgb(119, 119, 119);
    padding: 0.2em 0 0 0;
    font-size: 1vw;
    margin: 0;
}
@media (max-width: 1200px) {
    h1{
        font-size: 21px;
        margin-left: 20px;
    }
    .movieName {
        font-size: 1.2vw;
    }
    .movieDate {
        font-size: 0.9vw;
    }
}
