body {
    background-color: #000800;

}
.menu{
    display: flex;
    align-items: center; 
    font-size: 16px;
    font-family: "Comic Sans MS", sans-serif;
    color: rgb(255, 255, 255);
}
.menu .reg{
    margin-left: auto;
    padding: 8px 16px;
    font-size: 24px;
    cursor: pointer; 
}
.menu .poisk{
    margin-left: auto;
    width: 400px;
    padding: 8px 16px;
    font-size: 24px;
    cursor: pointer;
    border-radius: 100px; 
    border: 0;
}
.film{
    display: flex;
    gap: 20px;  
    align-items: center; 
    justify-content: center; 
    margin-top: 50px;
 
}
.film img{
    border-radius: 25px;
}
button{
    background-color: #00080000;
    border: 0;
    color: rgb(255, 255, 255);
    font-family: "Comic Sans MS", sans-serif;
}
