body {
    background-color: #0e0e0e;
    color: rgb(255, 255, 255);
}

.onTop{
    margin-top: 90px;
}

.linkButton{
    margin-top: 2vh;
    margin-left: 1vh;
    text-decoration: none;
    color: rgb(0, 0, 0);  
    background-color: #ffffff;
    display: inline-block;
    border: 0;
    border-radius: 25px;
    color: rgb(0, 0, 0);
    cursor: pointer; 
    z-index: 5;
    font-size: 15px;
    font-family: Tahoma, sans-serif;
    font-weight: bold;
    padding: 0.8%;
}

