.menu{
    position: fixed; 
    padding: 5px; 
    top: 0;
    left: 0;
    width: 100%; 
    display: flex;
    align-items: center;
    font-size: 24px;
    background-color: #030303c7;
    backdrop-filter: blur(10px);
    box-sizing: border-box; 
    z-index: 1000; 
    justify-content: space-between;
}
.reg{
    margin-left: auto;
    padding: 8px 16px;
    font-size: 34px;
}
.poisk{
    width: 90%;
    padding: 8px 16px;
    font-size: 24px;
    cursor: pointer;
    border-radius: 100px;
    border: 0;
    padding-right: 45px;
    background-image: url('./assets/lypa.png');
    background-repeat: no-repeat;
    background-position: right 15px center;
    background-size: 25px 25px;
}
.suggestions{
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #ffffff;
    color: rgb(0, 0, 0);
    list-style: none;
    margin: 10px;
    padding: 5px 0;
    border-radius: 20px;
    max-height: 200px;
    overflow-y: auto;
    box-shadow: 0 2px 8px rgba(0,0,0,0.7);
}
.suggestions li{
    padding: 8px 12px;
    cursor: pointer
}
.suggestions :hover{
    background: #e2e2e2;
}
button{
    background-color: #ffffff;
    border: 0;
    border-radius: 20px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    padding: 16px 16px; 
}
.search-wrapper{
    flex-grow: 1;
    max-width: 600px;
    margin-left: 20%;
    margin-right: 10%;   
    position: relative
}
